.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url(../images/intro-bg.jpg) center no-repeat;
  background-size: cover;

  &__container {
  }

  &__content {
    padding: 32px 0;
    text-align: center;

    border: 5px solid #fff;
  }

  &__title {
    margin-bottom: 54px;
    padding: 20px 0;

    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);

    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background-color: rgb(86, 96, 245);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    margin-bottom: 30px;
  }
}
